//Layout
//Mobile: 375px
//Desktop: 1440px

//Colors
$Violet: hsl(257, 40%, 49%);

//Typography
//Headings
//Family: [Poppins](https://fonts.google.com/specimen/Poppins)
$heading-font-family: 'Poppins',
sans-serif;
//Weights: 400, 700
//Body
//Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
$body-font-family: 'Open Sans',
sans-serif;
//Weights: 400
