//Layout
//Mobile: 375px
//Desktop: 1440px

//Colors
$Violet: hsl(257, 40%, 49%);

//Typography
//Headings
//Family: [Poppins](https://fonts.google.com/specimen/Poppins)
$heading-font-family: 'Poppins',
sans-serif;
//Weights: 400, 700
//Body
//Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
$body-font-family: 'Open Sans',
sans-serif;
//Weights: 400

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 800px;
    font-family: $body-font-family;
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $Violet;
    padding: 60px 70px;
    
    header {
        img {
            height: 40px;
        }
    }
}