//Layout
//Mobile: 375px
//Desktop: 1440px

//Colors
$Violet: hsl(257, 40%, 49%);

//Typography
//Headings
//Family: [Poppins](https://fonts.google.com/specimen/Poppins)
$heading-font-family: 'Poppins',
sans-serif;
//Weights: 400, 700
//Body
//Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
$body-font-family: 'Open Sans',
sans-serif;
//Weights: 400

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 800px;
    font-family: $body-font-family;
    font-size: 16px;
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $Violet;
    padding: 60px 70px;
    
    header {
        img {
            height: 40px;
            margin-bottom: 100px;
        }
    }
    
    main {
        height: 500px;
        
        .left {
            float: left;
            width: 50%;
            height: 100%;
            
            background-image: url("./images/illustration-mockups.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
        
        .right {
            float: right;
            width: 50%;
            height: 100%;
            
            padding: 60px;
            color: #fff;
            
            h1 {
                font-family: $heading-font-family;
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 10px;
            }
            
            p {
                line-height: 30px;
                margin-bottom: 30px;
            }
            
            button {
                width: 200px;
                height: 60px;
                border: none;
                border-radius: 30px;
                color: $Violet;
                font-size: 1rem;
                font-weight: 400;
                box-shadow: 2px 2px 10px #000;
            }
        }
    }
    
    footer {
        text-align: right;
        padding-top: 30px;
        
        img {
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 100%;
            margin: 0 8px;
            padding: 8px;
        }
    }
}